<div class="container">
  <div class="row mt-3">
    <div class="col-sm d-flex justify-content-center">
    
      <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header"><h1>Beth Robin</h1></div>
    <div class="card-body">
      <img class="imgp" src="https://pbs.twimg.com/profile_images/538880331370082304/vQTwQU1f_400x400.jpeg">
      <button type="button" class="btn">Follow</button>
      <p class="card-text">I am a mom of 4 looking for some help or ready to give its.</p>
    </div>
  </div>
</div>
